body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000vh;
  background-color: #f0f0f0;
  max-width: 100%;
  box-sizing: border-box;
  
}
.download-button {
  text-align: center;
  margin: 10px;
  max-width: 100%;
  box-sizing: border-box;
  
}
.download-button a {
  text-decoration: none;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  
}
.download-button p {
  margin-bottom: 5px;
  max-width: 100%;
  box-sizing: border-box;
  
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  margin: 5px;
  max-width: 100%;
  box-sizing: border-box;
  
}
button:hover {
  background-color: #0056b3;
  max-width: 100%;
  box-sizing: border-box;
  
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  max-width: 100%;
  box-sizing: border-box;
  
}
footer {
  margin-top: auto;
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.2);
  max-width: 100%;
  box-sizing: border-box;
  
}
pre {
    max-width: 100%; /* Ensures the box doesn't exceed the viewport width */
    box-sizing: border-box; /* Includes padding and borders in the element's total width */
    overflow-x: auto; /* Adds horizontal scrolling */
    border-radius: 10px; /* Rounded corners */

}
@media only screen and (max-width: 768px) {
  /* Mobile-specific styles for the header */
  header {
    margin: 0; /* Remove excessive margins */
    padding: 10px; /* Adjust padding if needed */
    /* Other mobile-specific styles */
  }
}
